<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
  </head>

  <body>
    <h1>Ask your coach anything:</h1>
    <%= yield %>
    <form action="?/questions" method="get">
      <input type="text" name="???">
      <input type="submit" value="Ask!">
    </form>
  </body>
</html>
